.icon-hail:before { content: '\e800'; } /* '' */
.icon-cloud-flash:before { content: '\e801'; } /* '' */
.icon-cloud:before { content: '\e802'; } /* '' */
.icon-cloud-sun:before { content: '\e803'; } /* '' */
.icon-sun:before { content: '\e807'; } /* '' */